process {

    publishDir = [
        // path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" },
        mode: params.publish_dir_mode,
        // saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    
    /*
    withName: DOWNLOADANNOTATION {
        publishDir = [
            path: { "${params.outdir}/downloadannotation" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BIGBEDTOBED {
        publishDir = [
            path: { "${params.outdir}/bigbedtobed" },
            mode: params.publish_dir_mode
        ]
    }

    withName: MAPPINGSTATS {
        publishDir = [
            path: { "${params.outdir}/mappingstats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: SPECTRALPLOT {
        publishDir = [
            path: { "${params.outdir}/spectralplot" },
            mode: params.publish_dir_mode
        ]
    }

    withName: BEDTOOLS {
        publishDir = [
            path: { "${params.outdir}/bedtools" },
            mode: params.publish_dir_mode
        ]
    }

    withName: RPLOTS {
        publishDir = [
            path: { "${params.outdir}/rplots" },
            mode: params.publish_dir_mode
        ]
    }

    withName: FINDUNMAPPABLE {
        publishDir = [
            path: { "${params.outdir}/findunmappable" },
            mode: params.publish_dir_mode
        ]
    }
    */

}
